body {
    width:1440px;  
    height:1024px; 
    
    width: 100%;
    height: 100%;
    
    background:#455D64 17.65%;
    /* Градиент */
    background: linear-gradient(335.59deg, #455D64 17.65%, #89B6C0 79.69%) fixed;
}

menu {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
.menu a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    font-family: Roboto;
    color: #000000;
    display: inline-block;
    padding: 0.5%; 

    font-size: 1.042vw;
    line-height: 1.198vw;

    background: rgba(255, 255, 255, 0.2);
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu li {
    display: inline;
}

.wid {
    position: absolute;
    width: 14%;
    height: 18.67%;
    left: 5.21%;
    top: 12%;

    position: absolute;
    left: 10%;
    right: 0%;
    top: 30%;
    bottom: 0%;

    background: #96DBE4;
    border-radius: 10.4%;
}

.button1 {

    position: absolute;
    width: 5%;
    height: 5%;
    /* left: 5.21%;
    top: 2%; */

    left: 48%;
    right: 0%;
    top: 8%;
    bottom: 0%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.250vw;
    line-height: 1.458vw;

    /* border-radius: 100%; */
    /* vertical-align: middle;
    text-align: center; */
}   
.button2 {

    position: absolute;
    width: 10%;
    height: 5%;

    left: 75%;
    right: 0%;
    top: 8%;
    bottom: 0%;
}   
    
#widget{
    display: none;
}
#widget1{
  display: none;
}
#widget2{
    display: none;
}
#select1 {
    display: none;
}
#button2 {
    display: none;
}

.sel {
    position: absolute;
    left: 40%;
    
    width: 13%;
    height: 5%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.250vw;
    line-height: 1.458vw;
}

label {
    position: absolute;
    /* width: 5%; */
    /* height: 5%; */
    /* left: 5.21%;
    top: 2%; */

    left: 5%;
    right: 0%;
    top: 9%;
    bottom: 0%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.250vw;
    line-height: 1.458vw;
}



/* Кнопка выпадающего списка */
button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.49% 1.67%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.250vw;
    line-height: 1.458vw;

    background: #B7E1EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
   
  /* Поле поиска */
  #myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* Поле поиска, когда он получает фокус/нажал на */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;

    left: 55%;
    /* right: 0%;
    top: 20%;
    bottom: 0%; */
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс в .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
  .show {display:block;} 


  .sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .button3 {
    position: absolute;
    width: 3%;
    height: 3%;
    left: 3%;
    top: 3%; 

    left: 48%;
    right: 0%;
    top: 8%;
    bottom: 0%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.250vw;
    line-height: 1.458vw;

    border-radius: 100%;
    vertical-align: middle;
    text-align: center; 
  }
  



.close {
  position: absolute;
  /* right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3; */
  background-color: rgba(255,255,255,0.4)
  }
  .close:hover {
  opacity: 1;
  }
  .close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
  }
  .close:before {
  transform: rotate(45deg);
  }
  .close:after {
  transform: rotate(-45deg);
  }


  .img {
    background-image: url(file:///home/trimpl/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/%D1%8D%D0%BB%D0%B5%D1%81%D0%B8/1485477034-close2_78601.png)
  }
