@model AppMQTT.Models.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/style(reg).css" />
</head>

<body>

    <div id="wrapper">
        <form name="login-form" class="login-form" action="" method="post">

            <div class="header">
                <h1>Регистрация</h1>
                <span>Введите ваши данные для регистрации в ваш личном кабинете. </span>
            </div>

            <div class="content">
                <input name="Login" type="text" class="input username" placeholder="Введите логин" onfocus="this.value=''" />
                <span asp-validation-for="Login" />
                <input name="Password" type="password" class="input password" placeholder="Введите пароль" onfocus="this.value=''" /><span asp-validation-for="Login" />
                <span asp-validation-for="Password" />
                <input name="ConfirmPassword" type="password" class="input password2" placeholder="Повторите пароль" onfocus="this.value=''" />
                <span asp-validation-for="ConfirmPassword" />
            </div>

            <div class="footer">
                <input type="submit" name="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" class="button" />
                <p class="text" style="display: inline-block;">Уже зарегистрированны? <a asp-action="Login" asp-controller="Account">Войти</a>.</p>
            </div>

        </form>
    </div>


</body>
</html>
